# ROS2 / colcon
build/
install/
log/
DynamixelSDK/
house_scene_graph/
COLCON_IGNORE
AMENT_IGNORE
 
# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
 
# Python
__pycache__/
*.py[cod]
 
# VS Code
.vscode/

chown_me.sh
clone_repos.sh
exec.sh
run.sh