# ROS2 / colcon
build/
install/
log/
DynamixelSDK/
COLCON_IGNORE
AMENT_IGNORE
 
# CMake generati
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
 
# Python
__pycache__/
*.py[cod]
 
# VS Code
.vscode/

